.TugOfWarDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 100%;
  position: absolute;
  z-index: 100;

  h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
  }

  .streamer-display {
    z-index: 10;
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    overflow: hidden;
    position: relative;

    .streamer-icon {
      border-radius: 100%;
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      border: 5px solid rgba(255, 255, 255, 0.5);
    }
  }

  .streamer-display.one {
    align-items: flex-start;
  }

  .streamer-display.two {
    align-items: flex-end;
  }

  .rope {
    position: absolute;
    margin: auto;
    width: 90%;
    height: 100%;
    left: 5%;
    pointer-events: none;
  }
}
